.buttonFacebook {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 15px;
    border: none;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
    cursor: pointer;
}